# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Playwright/Pytest
.pytest_cache/
test-results/
playwright-report/
blob-report/

# Project Specific
code/auth/storage_state.json
data/test_files/*.pdf
data/test_files/*.zip
data/test_files/*.txt
